@import 'variables.scss';

.product-list {
  background: #FFFFFF;
  padding: 0 $width-sm;
  border-radius: 4px;

  &__item {
    padding: $width-sm 0;

    &:not(:last-child) {
      border-bottom: 1px solid #EEEEEE;
    }
  }
}