.product-list-item {
  border: 1px solid blue;

  &__image {
    width: 180px;
    height: 180px;
    border-radius: 4px;
  }

  &__price {
    display: block;
    margin: 5px 0 32px 0;
  }

  &__location {
    margin-bottom: 20px;
  }
}