@import 'variables.scss';

.product-list-item {
  &__image {
    margin-right: $width-sm;
    width: 180px;
    height: 180px;
    border-radius: 4px;
  }

  &__price {
    font-size: $font-24;
    margin: 5px 0 $width-lg 0;
  }

  &__location {
    display: block;
    margin-top: 10px;
    font-size: $font-12;
  }

  &__info {
    display: flex;
    flex-direction: row;
  }
}

@media ($xs) {
  .product-list-item {
    &__info {
      flex-direction: column;
    }

    &__image {
      width: 100%;
      height: auto;
    }
  }
}