.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__top-bar {
    background: #FFE600;
    padding: 10px 0;
  }

  &__content {
    background: #EEEEEE;
    flex-grow: 1;
    padding-bottom: 70px;
  }
}