@import 'variables.scss';

.bread-crumb {
  padding: $width-sm 0;
  font-size: $font-14;

  &__item {
    display: inline-block;

    &:not(:first-child)::before {
      content: '>';
      color: $breadcrumb-color;
      padding: 0 .5rem;
    }
  }

  &__link,
  &__link:hover {
    cursor: pointer;
    color: $breadcrumb-color;
    text-decoration: none;
  }

  &__current-page {
    color: $breadcrumb-color;
    font-weight: bold;
  }
}